*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #222831;
    color: #EEEEEE;
}

header {
    background: #00ADB5;
    color: #fff;
    text-align: center;
    padding: 3rem 1rem;

}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    flex-wrap: wrap;
}

.header-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.header-content > div {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-text {
    text-align: center;
    margin-left: 3%;
}

.header-text h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header-text p {
    margin: 0.5rem 0 0;
}

.header-name {

    font-size: 1.2rem;
    color: #fff;
}

.header-name pre {

    font-size: 1.2rem;
    color: #fff;
    white-space: pre-line;
    text-align: center;
    margin: 0;
}

/* Medium Devices (Tablets) */
@media (max-width: 768px) {
    .header-content {
        flex-direction: row;
    }

    .header-text h1 {
        font-size: 1.7rem;
    }

    .header-name pre {
        font-size: 0.95rem;
    }
}

/* Small Devices (Phones) */
@media (max-width: 480px) {
    .header-image {
        width: 60px;
        height: 60px;
    }

    .header-text h1 {
        font-size: 1.5rem;
    }

    .header-text p {
        font-size: 0.9rem;
    }

    .header-name pre {
        font-size: 0.85rem;
    }
     .streams h2{
        font-size:2rem;
    }
     #connect h2{
         font-size:2rem;
   }
}
.streams {
    padding: 2rem;
    text-align: center;
}

.streams h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.stream-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.stream-card {
    background: #393E46;
    padding: 2rem;
    width: 200px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stream-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.6);
}

.stream-card h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.back-link {
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #277cd1;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}
.note {
    background: #393E46;
    border-left: 4px solid #00ADB5;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
    text-align: left;
    border-radius: 4px;
    font-size: 1rem;
}
.blog {
    background: #393E46;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.blog h2 {
    margin: 3vh;
    font-size: 3vh;
}

.blog p {
    line-height: 1.6;
    margin: 0.5rem 0;
}
.future-blog {
    background: #393E46;
    border-left: 6px solid #fbc02d;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.future-blog h2 {
    margin-top: 0;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 3vh;
}

.future-blog ul {
    list-style: disc;
    padding-left: 2rem;
}

.future-blog li {
    margin: 0.5rem 0;
    line-height: 1.6;
}

.accordion-section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

details {
  background: #EEEEEE;
  color: #222831;
  margin-bottom: 1rem;
  border: 1px solid #c5e1a5;
  border-radius: 6px;
  padding: 1rem;
}

details summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

details[open] summary {
  margin-bottom: 0.5rem;
}

.accordion-content p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

.passion-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}


#connect {
    padding-bottom: 40px;
}

.connect-content {
    margin-bottom: 40px;
}

#connect {
    min-height: unset;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px;
}

#connect h2 {
    margin-top: 0;
}

#connect p {
    margin-bottom: 20px;
}


.social-icons a img:hover {
            background-color:var(--background-button);
            border-radius: 50%;
            transition: background-color 0.3s ease;
        }


.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    padding-bottom: 0px;
    flex-wrap: wrap; 
}

@media only screen and (max-width: 600px) {
    .social-icons {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
        padding-bottom: 0px;    
    }
}



.social-icons a img {
    width: 90px;
    height: 90px;   
    background-color: var(--background-button-color);
    border-radius: 50%;
    padding: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 0 10px;
}

.social-icons a img:hover {
    transform: scale(1.1);
    background-color: var(--background-button);
}   



h2 {
    color: #00ADB5; 
    margin-bottom: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}


.cta-button {
    background:#00ADB5;
    color:  white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease;
    margin-top: 30px;
     transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2);
}

.cta-button:hover {
    opacity:0.7 ;
}

.resources-section {
  padding: 2rem 5rem;
  background: #222831;
  text-align: center;
  color: white;
  margin-top: 3%;
}

.resources-section h2 {
  font-size: 2rem;
  color: #00ADB5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resources-section p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ccc;
}

.resources-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.resource-card {
  background: #393E46;
    padding: 2rem;
    padding-top: 1rem;
    width: 200px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.resource-card:hover {
    
}

.resource-card h3 {
  color: #00ADB5;
  margin-bottom: 0.5rem;
}

.resource-card a {
  display: inline-block;
  margin-top: 1rem;
  color: #00ADB5;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}


.link{
    color: rgb(51, 102, 204);
    font-weight: 500;
}

.link:hover{
    color: rgb(34, 87, 192);
    text-decoration: underline;
}


.name-under-image{
    display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;  
  color: #ccc;    
}